@use "../abstracts" as *;

.header {
  &__container {
    background-color: $color-accent;
    position: relative; // чтобы бургер позиционировался относительно контейнера
  }

  &__inner {
    width: min(100% - 20px, $container-size);
    padding: 15px 0;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 35px;
    position: relative;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 42px;
  }

  &__nav-link {
    color: $color-white;
    line-height: 0.5px;
    font-weight: 400;
    // font-family: "Open Sans", sans-serif;
  }

  &__menu-btn {
    position: absolute;
    right: -70px; // бургер выходит за контейнер
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: 768px) {
      right: -40px; // можно немного ближе на мобильных
    }
  }

  &__menu-icon {
    width: 28px;
    height: 28px;
  }
}
