@use "../abstracts" as *;
@use "../mixins" as *;

.about {
  padding: 60px 0;

  &__container {
    width: min(100% - 20px, 1200px);
    margin-inline: auto;
  }

  @include section-header(".about__header");

  // &__content {
  //   max-width: 800px;
  //   margin: 0 auto;
  //   font-size: 18px;
  //   line-height: 1.6;
  //   color: #4a4a4a;
  //   text-align: center;
  // }
}
