@use "../abstracts" as *;

.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1; // ниже .catalog
  margin-top: -10px;

  &__container {
    width: min(100% - 20px, $container-size);
    margin-inline: auto;
  }

  &__image-wrapper {
    width: 100%;
    position: relative;
  }

  &__image {
    width: 100%;
    display: block;
    border-radius: 10px;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 2;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: #f5f5f5;
    }

    &--left {
      left: calc(50% - 650px - 20px);
    }

    &--right {
      right: calc(50% - 650px - 20px);
    }
  }

  /* Навигационные точки */
  &__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;

    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: none;
      background-color: #ccc;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active {
        background-color: $color-accent;
      }
    }
  }
}
