@use "../abstracts" as *;

.partners {
  background-color: $color-bg-gray;
  padding: 54px 0;

  &__container {
    width: min(100% - 20px, 1068px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    // height: 40px;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}
