$font-main: "Open Sans", sans-serif;
$font-size: 16px;
$container-size: 1200px;
$container-size-l: 1068px;

$color-light-gray: #f6f6f6;
$color-bg-gray: #f4f4f4;
$color-bg-purpurle: #aa5cb7;
$color-bg-green: #71bf34;
$color-bg-orange: #e99f3f;
$color-gray: #f1f1f1;
$color-black: #000000;
$color-accent: #1d3971;
$color-white: #ffffff;
